//variables
$bgImage: url(../images/background.jpg);
$font: verdana;
$shadow: #00E865;
$wrapBGcolor: whitesmoke;
$headBGcolor: darkgreen;


//body formatting
body{
    background-image: $bgImage;
    background-repeat: no-repeat;
    font-family: $font;
}

//inheritance and extend
.padding{
    padding: 5px;
}

//mixin
@mixin text_dec($dec: none){
    text-decoration: $dec;
}

//formatting for the top of the page in the wrap
//with nesting
#top{
    padding{
        top: 20px;
        bottom: 0;
        left: 1px;
        right: 1px;
    }

    text-align: center;
}

//formatting for the top of the page in the top
#tophead{
    text-shadow: 2px 1px darken($shadow, 10);
}

//formatting for the wrap around the body
#wrap{
    background-color: lighten($wrapBGcolor, 30);
    width: 75%;
    margin: 50px auto;
    padding: 10px;
    border: 6px solid black;
}

//formatting for the head
head{
    background-color: $headBGcolor;
    padding: 10px;
    color: white;
    border-bottom: 5px solid lightgreen;
    border-right: 10px solid white;
}

//nab formatting 
nav li{
    display: inline-block;
    @extend .padding;
    @include text_dec();
}
nav ul{
    text-align: center;
    @extend .padding;
}
a{
    @include text_dec();
}
a:hover{
    @include text_dec();
    @include text_dec(underline);
}

a:active{
    color: lighten(red, 50);
    @include text_dec(underline);
}

//formatting for pictures
figure {
    text-align: center;
    padding-top: 0;
}

//formatting for lines
hr {
    height: 5px;
    background-color: black;
}

//formatting for h3 heading
h3{
    padding-left: 50px;
}

//formatting for paragraphs
p{
    padding-left: 20px;
}

// formatting for lists
ul{
    padding-left: 80px;
}